<div class="container">
  <div class="row" style="margin-top: 30px">
    <div class="col-xs-6">
      <div class="well">
        <h3>Ajoutez vous joueurs</h3>
        <form class="form" role="form" novalidate ng-submit="players.addPlayer(players.number, players.first_name, players.name, players.position)">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="players.number" placeholder="N° maillot">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="players.name" placeholder="Nom">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="players.first_name" placeholder="Prénom">
          </div>
	  <div class="form-group">
	    <select class="form-control"  ng-model="players.position"  placeholder="Position">
	      <option>GD</option>
	      <option>DFG</option>
	      <option>DFD</option>
	      <option>ARG</option>
	      <option>ARD</option>
	      <option>MCG</option>
	      <option>MCD</option>
	      <option>MG</option>
	      <option>MD</option>
	      <option>ATG</option>
	      <option>ATD</option>
	      <option>REM</option>
	    </select>
	  </div>
          <button type="submit"  class="btn btn-default">Ajouter</button>
	</form>
      </div>
      <button class="btn btn-info"><a ui-sref="stat">Début du match</a></button>
    </div>


  </div>
  <div class="col-xs-6 col-sm-12">
    <h3>Mes Joueurs</h3>
    <table class="table edit">
      <thead>
	<tr>
          <th>N° maillot</th>
          <th>Prénom</th>
          <th>Nom</th>
	  <th>Position</th>
          <th></th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="player in players.players">
          <td><input type="text" ng-model="player.number"/></td>
	  <td><input type="text" ng-model="player.name"/></td>
          <td><input type="text" ng-model="player.first_name"/></td>
	  <td><input type="text" ng-model="player.position"/></td>
          <td>
            <button type="button" class="btn btn-link" ng-click="players.removePlayer(player)">Remove</button>
          </td>
	</tr>
      </tbody>
    </table>
  </div>
  
</div>




