<div class="container" ng-controller="MainCtrl as main">
  <div class="row" style="margin-top: 30px">
    <div class="col-xs-6">
      <div class="well">
        <h3>Ajoutez vous joueurs</h3>
        <form class="form" role="form" novalidate ng-submit="main.addPlayer(main.numero, main.prenom, main.nom)">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="main.numero" placeholder="N° maillot">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="main.prenom" placeholder="Prénom">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="main.nom" placeholder="Nom">
          </div>

          <button type="submit"  class="btn btn-default">Ajouter</button>
	</form>
      </div>
      <button class="btn btn-info"><a ui-sref="stat">Début du match</a></button>
    </div>


  </div>
  <div class="col-xs-6 col-sm-12">
    <h3>Mes Joueurs</h3>
    <table class="table edit">
      <thead>
	<tr>
          <th>N° maillot</th>
          <th>Prénom</th>
          <th>Nom</th>

          <th></th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="player in main.players">
          <td><input type="text" ng-model="player.numero" ng-blur="main.updatePlayer(player)"/></td>
          <td><input type="text" ng-model="player.prenom" ng-blur="main.updatePlayer(player)"/></td>
          <td><input type="text" ng-model="player.nom" ng-blur="main.updatePlayer(player)"/></td>
          <td>
            <button type="button" class="btn btn-link" ng-click="main.removePlayer(player)">Remove</button>
          </td>
	</tr>
      </tbody>
    </table>
  </div>
  
</div>




