<div class="container" ng-controller="MainCtrl as main"> 
  
  <div class="col-md-12">
    <a ui-sref="stat_players" class="btn btn-default" ng-click="main.setCurrentStat('but')">But</a> 
    <a ui-sref="stat_players" class="btn btn-default" ng-click="main.setCurrentStat('passD')">Passe décisive</a> 
    <a ui-sref="stat_players" class="btn btn-default" ng-click="main.setCurrentStat('tirC')">Tir cadrés</a> 
    <a ui-sref="stat_players" class="btn btn-default" ng-click="main.setCurrentStat('ballP')">Balle Perdu</a> 
  </div>
  
</div>


