<div class="container">

  <div class="row" style="margin-top: 30px">

    <div class="col-md-12" id="btn-stat"> 
      <a class="btn btn-default" ng-click="stat.setCurrentStat('but')">But</a>

      <a class="btn btn-default" ng-click="stat.setCurrentStat('tir_cadre')">Tir cadré</a>
      <a class="btn btn-default" ng-click="stat.setCurrentStat('tir_non_cadre')">Tir non cadré</a>

      <a class="btn btn-default" ng-click="stat.setCurrentStat('geste_defensif')">Geste défensif</a>

      
      <a class="btn btn-default" ng-click="stat.setCurrentStat('ballon_perdu')">Ballon Perdu</a>
      <a class="btn btn-info" ui-sref="stat_players" style="margin-left: 30px; margin-top: 30px;" ng-click="stat.addSchema(stat.schemaMatch)">Voir les stats du match</a>
    </div>
    <div class="col-md-12 text-center" id="div_player">
      
      <div class="row">
	<a ng-repeat="player in stat.players" ng-mousedown="stat.playerDrag()" ng-mousemove="stat.flag = 1" ng-mouseup="stat.statCount(player)" ng-if="player.position === 'GD'" id="player_button" class="btn btn-default" >{{player.first_name+ " " + player.name}}</a> 
      </div>
      <div class="row">
	<a ng-repeat="player in stat.players" ng-if="player.position === 'ARG'" id="player_button" class="btn btn-default" ng-mousedown="stat.playerDrag()" ng-mousemove="stat.flag = 1" ng-mouseup="stat.statCount(player)">{{player.first_name+ " " + player.name}} {{player.position}}</a> 

	<a ng-repeat="player in stat.players" ng-if="player.position === 'DFG'" id="player_button" class="btn btn-default" ng-mousedown="stat.playerDrag()" ng-mousemove="stat.flag = 1" ng-mouseup="stat.statCount(player)">{{player.first_name+ " " + player.name}} {{player.position}}</a> 

	<a ng-repeat="player in stat.players" ng-if="player.position === 'DFD'" id="player_button" class="btn btn-default" ng-mousedown="stat.playerDrag()" ng-mousemove="stat.flag = 1" ng-mouseup="stat.statCount(player)">{{player.first_name+ " " + player.name}} {{player.position}}</a> 

	<a ng-repeat="player in stat.players" ng-if="player.position === 'ARD'" id="player_button" class="btn btn-default" ng-mousedown="stat.playerDrag()" ng-mousemove="stat.flag = 1" ng-mouseup="stat.statCount(player)">{{player.first_name+ " " + player.name}} {{player.position}}</a> 

      </div>

      <div class="row">
      	<a ng-repeat="player in stat.players"  ng-if="player.position === 'MG'" id="player_button" class="btn btn-default" ng-mousedown="stat.playerDrag()" ng-mousemove="stat.flag = 1" ng-mouseup="stat.statCount(player)">{{player.first_name+ " " + player.name}} {{player.position}}</a>

	<a ng-repeat="player in stat.players"  ng-if="player.position === 'MCG'" id="player_button" class="btn btn-default" ng-mousedown="stat.playerDrag()" ng-mousemove="stat.flag = 1" ng-mouseup="stat.statCount(player)">{{player.first_name+ " " + player.name}} {{player.position}}</a>

      	<a ng-repeat="player in stat.players"  ng-if="player.position === 'MCD'" id="player_button" class="btn btn-default" ng-mousedown="stat.playerDrag()" ng-mousemove="stat.flag = 1" ng-mouseup="stat.statCount(player)">{{player.first_name+ " " + player.name}} {{player.position}}</a>

      	<a ng-repeat="player in stat.players"  ng-if="player.position ===  'MD'" id="player_button" class="btn btn-default" ng-mousedown="stat.playerDrag()" ng-mousemove="stat.flag = 1" ng-mouseup="stat.statCount(player)">{{player.first_name+ " " + player.name}} {{player.position}}</a>
      </div>

      <div class="row">
      	<a ng-repeat="player in stat.players"  ng-if="player.position === 'ATG'" id="player_button" class="btn btn-default" ng-mousedown="stat.playerDrag()" ng-mousemove="stat.flag = 1" ng-mouseup="stat.statCount(player)">{{player.first_name+ " " + player.name}} {{player.position}}</a>

      	<a ng-repeat="player in stat.players"  ng-if="player.position === 'ATD'" id="player_button" class="btn btn-default" ng-mousedown="stat.playerDrag()" ng-mousemove="stat.flag = 1" ng-mouseup="stat.statCount(player)">{{player.first_name+ " " + player.name}} {{player.position}}</a>
      </div>
      
    </div>  
  </div>
  
</div>


