<div class="container">
  <h3>Mon équipe</h3>
  <div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>Maillot</th>
          <th>Joueur</th>
          <!-- <th>Score</th> -->
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in stat_player.players">
          <td>{{player.number}}</td>
          <td>{{player.name}}</td>
          <!-- <td>{{contestant.score}}</td> -->
        </tr>
      </tbody>
    </table>
  </div>

  <h3>Tableau d'analyse brut (passes)</h3>
  <div class="well">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th ng-repeat="player in stat_player.players">{{player.name}}</th>
          <th>Ballons donnés</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in stat_player.players">
          <td>{{player.name}}</td>

        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td><b>Ballons reçus</b></td>
          

        </tr>
      </tfoot>
    </table>
  </div>

  <h3>Tableau récapitulatif général</h3>
  <div class="well">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Min</th>
          <th>Ballons perdus</th>
          <th>Geste Défensif</th>
          <th>Tir Non Cadré</th>
          <th>Tir Cadré</th>
          <th>Passe Décisive</th>
          <th>Avant Passe Décisive</th>
          <th>But</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in stat_player.players">
          <td>{{player.name +" "+player.first_name}}</td>
	  <td></td>
	  <td>{{player.ballon_perdu}}</td>
	  <td>{{player.geste_defensif}}</td>
	  <td>{{player.tir_non_cadre}}</td>
	  <td>{{player.tir_cadre}}</td>
	  <td>{{player.avant_passe_decisive}}</td>
	  <td>{{player.passe_decisive}}</td>
	  <td>{{player.but}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><b>Total</b></td>
	  <td></td>
	  <td>{{stat_player.totalStat('ballon_perdu')}}</td>
	  <td>{{stat_player.totalStat('geste_defensif')}}</td>
	  <td>{{stat_player.totalStat('tir_non_cadre')}}</td>
	  <td>{{stat_player.totalStat('tir_cadre')}}</td>
	  <td>{{stat_player.totalStat('avant_passe_decisive')}}</td>
	  <td>{{stat_player.totalStat('passe_decisive')}}</td>
	  <td>{{stat_player.totalStat('but')}}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
